@model Colonizator.Models.GameStateViewModel
<h1>@Model.CurrentPlayer.PlayerName</h1>
<script>
    userId = @Model.PlayerId
</script>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Color</th>
    </tr>

    @foreach (var player in Model.Game.Players)
    {
        <tr>
            <td>@player.PlayerName</td>
            <td>@player.PlayerScore</td>
            <td>@player.Color</td>
        </tr>
    }
</table>

<table class="table">
    @foreach (var player in Model.Game.Players)
    {
        <tr>
            <td>@player.PlayerName</td>
            <td>
                @if (player.Resources.Any(r => r.Type == GameLogic.Game.ResourceType.Wood))
                {
                    string src = string.Format("/Sprites/rs{0}.png", (int)GameLogic.Game.ResourceType.Wood);
                    <div style="width:40px;height:60px;">
                        <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                        <div class="resourceCount">@player.Resources.First(r => r.Type == GameLogic.Game.ResourceType.Wood).Qty</div>
                    </div>
                }
            </td>
            <td>
                @if (player.Resources.Any(r => r.Type == GameLogic.Game.ResourceType.Wool))
                {
                    string src = string.Format("/Sprites/rs{0}.png", (int)GameLogic.Game.ResourceType.Wool);
                    <div style="width:40px;height:60px;">
                        <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                        <div class="resourceCount">@player.Resources.First(r => r.Type == GameLogic.Game.ResourceType.Wool).Qty</div>
                    </div>
                }
            </td>
            <td>
                @if (player.Resources.Any(r => r.Type == GameLogic.Game.ResourceType.Corn))
                {
                    string src = string.Format("/Sprites/rs{0}.png", (int)GameLogic.Game.ResourceType.Corn);
                    <div style="width:40px;height:60px;">
                        <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                        <div class="resourceCount">@player.Resources.First(r => r.Type == GameLogic.Game.ResourceType.Corn).Qty</div>
                    </div>
                }
            </td>
            <td>
                @if (player.Resources.Any(r => r.Type == GameLogic.Game.ResourceType.Soil))
                {
                    string src = string.Format("/Sprites/rs{0}.png", (int)GameLogic.Game.ResourceType.Soil);
                    <div style="width:40px;height:60px;">
                        <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                        <div class="resourceCount">@player.Resources.First(r => r.Type == GameLogic.Game.ResourceType.Soil).Qty</div>
                    </div>
                }
            </td>
            <td>
                @if (player.Resources.Any(r => r.Type == GameLogic.Game.ResourceType.Minerals))
                {
                    string src = string.Format("/Sprites/rs{0}.png", (int)GameLogic.Game.ResourceType.Minerals);
                    <div style="width:40px;height:60px;">
                        <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                        <div class="resourceCount">@player.Resources.First(r => r.Type == GameLogic.Game.ResourceType.Minerals).Qty</div>
                    </div>
                }
            </td>
        </tr>
    }
</table>
