@using System.Web.UI.WebControls
@model IEnumerable<GameLogic.Market.Order>
@ViewBag.IsAvaibleAction

<div>
    <div style="width: 50%; float: right;">
        Продать
    </div>
    <div style="width: 50%; float:left">
        Купить
    </div>
</div>

<div id="request" style="border: thick;height:86px">
    <div style="width: 50%; float: right; display: inline-block">
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs0.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="sellWood" type="number" min="0" max=5 value="0" style="width:40px" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs1.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="sellWool" type="number" min="0" max=5 value="0" style="width:40px" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs2.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="sellCorn" type="number" min="0" max=5 value="0" style="width:40px" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs3.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="sellSoil" type="number" min="0" max=5 value="0" style="width:40px" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs4.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="sellMinerals" type="number" min="0" max=5 value="0" style="width:40px" />
        </div>
    </div>
    <div style="width: 50%; float: left; display: inline-block">
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs0.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="buyWood" type="number" min="0" max=5 value="0" style="width:40px;" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs1.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="buyWool" type="number" min="0" max=5 value="0" style="width:40px;" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs2.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="buyCorn" type="number" min="0" max=5 value="0" style="width:40px;" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs3.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="buySoil" type="number" min="0" max=5 value="0" style="width:40px;" />
        </div>
        <div class="resourceOrderTemplate">
            <img src="~/Sprites/rs4.png" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
            <input id="buyMinerals" type="number" min="0" max=5 value="0" style="width:40px;" />
        </div>
    </div>
</div>
@if (ViewBag.CurrentUser == ViewBag.MoveUser)
{
    <div class="btn btn-success" id="requestBuyOrder">Отправить запрос на покупку</div>
    <div id="requestSellOrder"></div>
}
else
{
    <div class="btn btn-success" id="requestSellOrder">Отправить запрос на продажу</div>
    <div id="requestBuyOrder"></div>
}
<div class="orders">
    @foreach (var item in Model)
    {
        <div class="order">
            @if (item.Seller == null && item.Buyer != null &&
                    item.Buyer.PlayerName != ViewBag.CurrentUser.PlayerName && item.Buyer.PlayerName == ViewBag.MoveUser.PlayerName)
            {
                <div class="buyBatch" style="display: inline-flex; width: 50%;">
                    @foreach (var res in item.SellResources.Where(r => r.Qty > 0))
                    {
                        string src = string.Format("/Sprites/rs{0}.png", (int)res.Type);
                        <div style="width:40px;height:60px;">
                            <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                            <div class="resourceCount">@res.Qty</div>
                        </div>
                    }
                </div>
                <div class="sellBatch" style="display: inline-flex; width:50%;">
                    @foreach (var res in item.BuyResources.Where(r => r.Qty > 0))
                    {
                        string src = string.Format("/Sprites/rs{0}.png", (int)res.Type);
                        <div style="width:40px;height:60px;">
                            <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                            <div class="resourceCount">@res.Qty</div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="sellBatch" style="display: inline-flex; width:50%;">
                    @foreach (var res in item.BuyResources.Where(r => r.Qty > 0))
                    {
                        string src = string.Format("/Sprites/rs{0}.png", (int)res.Type);
                        <div style="width:40px;height:60px;">
                            <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                            <div class="resourceCount">@res.Qty</div>
                        </div>
                    }
                </div>

                <div class="buyBatch" style="display: inline-flex; width: 50%;">
                    @foreach (var res in item.SellResources.Where(r => r.Qty > 0))
                    {
                        string src = string.Format("/Sprites/rs{0}.png", (int)res.Type);
                        <div style="width:40px;height:60px;">
                            <img src="@src" alt="..." class="img-thumbnail" style="width:40px;height:60px;">
                            <div class="resourceCount">@res.Qty</div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="orderAction">
            @if (item.Seller == null)
            {
                if (item.Seller == null && item.Buyer != null &&
                    item.Buyer.PlayerName != ViewBag.CurrentUser.PlayerName && item.Buyer.PlayerName == ViewBag.MoveUser.PlayerName)
                {
                    <div class="label label-success" onclick="processSell('@item.Id')">Закрыть сделку с @item.Buyer.PlayerName</div>
                }
                else
                {
                    <div class="label label-danger">недоступно</div>
                }
            }
            else
            {
                if (item.Buyer == null)
                {
                    if (ViewBag.CurrentUser == ViewBag.MoveUser)
                    {
                        <div class="label label-success" onclick="processBuy('@item.Id')">Закрыть сделку с @item.Seller.PlayerName</div>
                    }
                    else
                    {
                        <div class="label label-danger">недоступно</div>
                    }
                }
            }
        </div>
    }
</div>

<script>
    $(function () {
        $('#requestSellOrder').click(function () {
            var order =
                {
                    Token: token,
                    PlayerId: userId,
                    Sell:
                       {
                           Corn: $('#sellCorn').val(),
                           Minerals: $('#sellMinerals').val(),
                           Soil: $('#sellSoil').val(),
                           Wood: $('#sellWood').val(),
                           Wool: $('#sellWool').val(),
                       },
                    Buy:
                       {
                           Corn: $('#buyCorn').val(),
                           Minerals: $('#buyMinerals').val(),
                           Soil: $('#buySoil').val(),
                           Wood: $('#buyWood').val(),
                           Wool: $('#buyWool').val(),
                       }
                };

            $.post("/Game/SellOrder", $.toDictionary(order));
            console.log("/Game/SellOrder", order);
            $('#requestSellOrder').hide();
            $('#requestBuyOrder').hide();
        });
        $('#requestBuyOrder').click(function () {
            var order =
                {
                    Token: token,
                    PlayerId: userId,
                    Sell:
                       {
                           Corn: $('#sellCorn').val(),
                           Minerals: $('#sellMinerals').val(),
                           Soil: $('#sellSoil').val(),
                           Wood: $('#sellWood').val(),
                           Wool: $('#sellWool').val(),
                       },
                    Buy:
                       {
                           Corn: $('#buyCorn').val(),
                           Minerals: $('#buyMinerals').val(),
                           Soil: $('#buySoil').val(),
                           Wood: $('#buyWood').val(),
                           Wool: $('#buyWool').val(),
                       }
                };

            $.post("/Game/BuyOrder", $.toDictionary(order));
            console.log("/Game/BuyOrder", order);
        });
        $('#requestSellOrder').show();
    });

    var processBuy = function (orderID) {
        var contract = { token: token, userId: userId, orderId: orderID };
        $.post("/Game/ProcessBuy", $.toDictionary(contract));
        console.log("/Game/ProcessBuy", contract);
    };

    var processSell = function (orderID) {
        var contract = { token: token, userId: userId, orderId: orderID };
        $.post("/Game/ProcessSell", $.toDictionary(contract));
        console.log("/Game/ProcessSell", contract);
    };
    var testOrder = function () {
        $.getJSON('/Game/GetTestOrder', function (data) {
            console.log("'/Game/GetTestOrder'", data);
            $.post("/Game/RequestOrder", $.toDictionary(data));
        });
    };
</script>
