@using System.Web.UI.WebControls
@model IEnumerable<GameLogic.Market.Order>
@ViewBag.IsAvaibleAction
<style>
    .buyBatch {
        width: 35%;
        float: left;
    }

    .sellBatch {
        width: 35%;
        float: left;
    }

    .orderAction {
        width: 30%;
        float: right;
    }

    .order {
        width: 100%;
        margin: 3px;
        background: bisque;
        display: inline-block;
    }

    .orders {
        width: 100%;
        margin: 5px;
        background: white;
    }

    .resource {
        width: 20px;
        height: 20px;
    }

    .resource0 {
        background: url(/Sprites/rs0.png);
        -ms-background-size: 100%;
        background-size: 100%;
    }

    .resource1 {
        background: url(/Sprites/rs1.png);
        -ms-background-size: 100%;
        background-size: 100%;
    }

    .resource2 {
        background: url(/Sprites/rs2.png);
        -ms-background-size: 100%;
        background-size: 100%;
    }

    .resource3 {
        background: url(/Sprites/rs3.png);
        -ms-background-size: 100%;
        background-size: 100%;
    }

    .resource4 {
        background: url(/Sprites/rs4.png);
        -ms-background-size: 100%;
        background-size: 100%;
    }
</style>

<div id="request" style="border: thick;">
    <div style="width: 50%; float: right; background: green; display: inline-block">
        <div style="width: 100%"><p class="resource resource2"></p><input id="sellCorn" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource4"></p><input id="sellMinerals" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource3"></p><input id="sellSoil" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource0"></p><input id="sellWood" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource1"></p><input id="sellWool" type="range" min="0" max=5 value="0" /></div>
    </div>
    <div style="width: 50%; float: left; background: orange; display: inline-block">
        <div style="width: 100%"><p class="resource resource2"></p><input id="buyCorn" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource4"></p><input id="buyMinerals" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource3"></p><input id="buySoil" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource0"></p><input id="buyWood" type="range" min="0" max=5 value="0" /></div>
        <div style="width: 100%"><p class="resource resource1"></p><input id="buyWool" type="range" min="0" max=5 value="0" /></div>
    </div>
</div>
@if (ViewBag.CurrentUser == ViewBag.MoveUser)
{
    <div class="btn btn-success" id="requestBuyOrder">Отправить запрос на покупку</div>
    <div id="requestSellOrder"></div>
}
else
{
    <div class="btn btn-success" id="requestSellOrder">Отправить запрос на продажу</div>
    <div id="requestBuyOrder"></div>
}

<div class="orders">
    @foreach (var item in Model)
    {
        <div class="order">
            <div class="buyBatch">
                <div>
                    @foreach (var res in item.SellResources.Where(r => r.Qty > 0))
                    {
                        string classs = "resource resource" + (int)res.Type;
                        <div style="width: 100%"><div class="@classs" style="float: left"></div><p>@res.Qty</p></div>
                    }
                </div>
            </div>
            <div class="sellBatch">
                <div>
                    @foreach (var res in item.BuyResources.Where(r => r.Qty > 0))
                    {
                        string classs = "resource resource" + (int)res.Type;
                        <div style="width: 100%"><div class="@classs" style="float: left"></div><p>@res.Qty</p></div>

                    }
                </div>
            </div>
            <div class="orderAction">
                @if (item.Seller == null)
                {
                    if (item.Seller == null && item.Buyer != null &&
                        item.Buyer.PlayerName != ViewBag.CurrentUser.PlayerName && item.Buyer.PlayerName == ViewBag.MoveUser.PlayerName)
                    {
                        <div class="btn btn-success" onclick="processSell('@item.Id')">продать @item.Buyer.PlayerName -у</div>
                    }
                    else
                    {
                        <div class="label label-danger">недоступна</div>
                    }
                }
                else
                {
                    if (item.Buyer == null)
                    {
                        if (ViewBag.CurrentUser == ViewBag.MoveUser)
                        {
                            <div class="btn btn-success" onclick="processBuy('@item.Id')">Купить у @item.Seller.PlayerName</div>
                        }
                        else
                        {
                            <div class="label label-danger">недоступна</div>
                        }
                    }
                }
            </div>
        </div>
    }
</div>

<script>
    $(function () {
        $('#requestSellOrder').click(function () {
            var order =
                {
                    Token: token,
                    PlayerId: userId,
                    Sell:
                       {
                           Corn: $('#sellCorn').val(),
                           Minerals: $('#sellMinerals').val(),
                           Soil: $('#sellSoil').val(),
                           Wood: $('#sellWood').val(),
                           Wool: $('#sellWool').val(),
                       },
                    Buy:
                       {
                           Corn: $('#buyCorn').val(),
                           Minerals: $('#buyMinerals').val(),
                           Soil: $('#buyWood').val(),
                           Wood: $('#buyWood').val(),
                           Wool: $('#buyWool').val(),
                       }
                };

            $.post("/Game/SellOrder", $.toDictionary(order));
            console.log("/Game/SellOrder", order);
            $('#requestSellOrder').hide();
            $('#requestBuyOrder').hide();
        });
        $('#requestBuyOrder').click(function () {
            var order =
                {
                    Token: token,
                    PlayerId: userId,
                    Sell:
                       {
                           Corn: $('#sellCorn').val(),
                           Minerals: $('#sellMinerals').val(),
                           Soil: $('#sellSoil').val(),
                           Wood: $('#sellWood').val(),
                           Wool: $('#sellWool').val(),
                       },
                    Buy:
                       {
                           Corn: $('#buyCorn').val(),
                           Minerals: $('#buyMinerals').val(),
                           Soil: $('#buyWood').val(),
                           Wood: $('#buyWood').val(),
                           Wool: $('#buyWool').val(),
                       }
                };

            $.post("/Game/BuyOrder", $.toDictionary(order));
            console.log("/Game/BuyOrder", order);
        });
        $('#requestSellOrder').show();
    });

    var processBuy = function(orderID) {
        var contract = { token: token, userId: userId, orderId: orderID };
        $.post("/Game/ProcessBuy", $.toDictionary(contract));
        console.log("/Game/ProcessBuy", contract);
    };

    var processSell = function(orderID) {
        var contract = { token: token, userId: userId, orderId: orderID };
        $.post("/Game/ProcessSell", $.toDictionary(contract));
        console.log("/Game/ProcessSell", contract);
    };
    var testOrder = function() {
        $.getJSON('/Game/GetTestOrder', function(data) {
            console.log("'/Game/GetTestOrder'", data);
            $.post("/Game/RequestOrder", $.toDictionary(data));
        });
    };
</script>
