@model IEnumerable<GameLogic.Market.Order>
<table class="table" style="width:100%">
    <tr>
        <th>
            Отдашь
        </th>
        <th>
            Получишь
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.OrderOwnerId != null)
                {
                    @item.OrderOwnerId.PlayerName
                }
                else
                {
                    if (ViewBag.IsAvaibleAction)
                    {
                        <div class="btn btn-success">продать</div>
                    }
                }
                <ul>
                    @foreach (var res in item.ProposedResources)
                    {
                        <li>@res.Type : @res.Qty</li>
                    }
                </ul>
            </td>
            <td>
                @if (item.OrderConsumerId != null)
                {
                    @item.OrderConsumerId.PlayerName
                }
                else
                {
                    if (ViewBag.IsAvaibleAction)
                    {
                        <div class="btn btn-success">купить</div>
                    }
                }
                <ul>
                    @foreach (var res in item.AcceptedResources)
                    {
                        <li>@res.Type : @res.Qty</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>
